* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-color: #ddc6a6;
}
p, h1, h2 {
    color: #362211;
    font-family: 'Josefin Sans', sans-serif;
}
h1 {
    margin-bottom: 1.5em;
 }
.inspiration {
    text-align: center;
    display: fixed;
    bottom: 0;
    color: #362211;
}
.inspiration a {
    font-weight: bold;
    color: #362211;
}
.inspiration a:hover {
    color: white;
}
.container {
    /*background: beige;*/
    text-align: center;
    width: 800px;
    min-height: 400px;
    margin: 100px auto 30px auto;
}
.controls {
    text-align: center;
    margin: 50px auto;
}
.columns-bg {
    position: absolute;
    top: -30px;
    z-index: -1;
    width: 800px;
    height: 400px;
}
svg#Layer_1 {
    position: relative;
    float: left;
}
svg#Layer_2 {
    position: relative;
    float: right;
}
.st0{
    fill:#FFFFFF;
}
.st1{
    opacity:0.2;
    fill:url(#SVGID_1_);
}
span#result {
    width: 210px;
    display: inline-block;
}